<% include ../partials/header %>

<div class="container list">
	<div class="row justify-content-around"> 
		<div class="col-10"> 
			<div class="text-center">
				<h1>Store Incoming Letter</h1>
				<p>
				<a class="btn btn-primary btn-lg btn-block" href="/inletters">List Incoming Letters</a>
			</p>
			</div>
		</div> 
	</div>
</div>

<div class="container">
	<div class="row justify-content-around">
	<div class=col-10>
		<form action="/inletters" method="POST" enctype="multipart/form-data">

			
			<div class=form-row>
				<div class="form-group col-6">
					<label>Number</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-telegram"></i></span>
						<input class="form-control form-control-md upper" type="text" name="inletter[ltrNmbr]" placeholder="Letter's Number" required>
					</div>
				</div>
				<div class="form-group col-6">
					<label>Sender</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input class="form-control form-control-md case" type="text" name="inletter[sender]" placeholder="Sender" required>
					</div>
				</div>
			</div>
			<div class=form-row>
				<div class="form-group col-4">
					<label>Recipient</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user-o"></i></span>
							<input class="form-control form-control-md case" type="text" name="inletter[recipient]" placeholder="Recipient" required>
						</div>
				</div>
				<div class="form-group col-5">
					<label>Subject (Perihal)</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-clipboard"></i></span>
							<input class="form-control form-control-md case" type="text" name="inletter[subject]" placeholder="Subject" required>
						</div>
				</div>
				<div class="form-group col-3">
					<label>Date (Tanggal Surat)</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							<input class="form-control form-control-md date" type="text" name="inletter[date]" placeholder="Letter's Date" required>
						</div>
				</div>
			</div>
			
			<div class="form-inline mb-2 mt-2">
				<label for="inletter[type]" class="mr-sm-2 mb-2">Select Sender Type: </label>
					<select required name="inletter[type]" class="custom-select mb-2 mr-sm-5">
						<option disabled value="" selected hidden>Choose Sender Type...</option>
						<option name="inletter[type]" value="Internal">Internal</option>
						<option name="inletter[type]" value="External">External</option>
					</select>	
				<label for="inletter[confidential]" class="mr-sm-2 mb-2">Confidential: </label>
					<select required name="inletter[confidential]" class="custom-select mb-2 mr-sm-5">
						<option name="inletter[confidential]" value="No" selected>No</option>
						<option name="inletter[confidential]" value="Yes">Yes</option>
					</select>	
			</div>
			<div class="form-group" style="margin-right:70%;">
				<label>Archive Code:</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-archive"></i></span>
						<input class="form-control form-control-md upper" type="text" name="inletter[archive]" data-toggle="tooltip" title="See The Code of Archive on Bindex." placeholder="Archive Code">
					</div>	
			</div>
				<div class="form-group">
					<label>Remark (Penjelasan)</label>
					<textarea class="form-control form-control-md case" rows="2" name="inletter[remark]"></textarea>
				</div>
				<div class="form-group">
					<label>Upload Documents (only upload a maximum of 3 pdf files): </label>
						<div class="input-group input-file customInputMargin" name="docs">
							<span class="input-group-btn">
				        		<button class="btn btn-secondary btn-choose" type="button">Choose</button>
				    		</span>
				    		<input type="text" class="form-control" placeholder='Choose pdf file..' />
				    		<span class="input-group-btn">
				       			 <button class="btn btn-warning btn-reset" type="button">Reset</button>
				    		</span>
						</div>
						<div class="input-group input-file customInputMargin" name="docs">
							<span class="input-group-btn">
				        		<button class="btn btn-secondary btn-choose" type="button">Choose</button>
				    		</span>
				    		<input type="text" class="form-control" placeholder='Choose pdf file..' />
				    		<span class="input-group-btn">
				       			 <button class="btn btn-warning btn-reset" type="button">Reset</button>
				    		</span>
						</div>
						<div class="input-group input-file customInputMargin" name="docs">
							<span class="input-group-btn">
				        		<button class="btn btn-secondary btn-choose" type="button">Choose</button>
				    		</span>
				    		<input type="text" class="form-control" placeholder='Choose pdf file..' />
				    		<span class="input-group-btn">
				       			 <button class="btn btn-warning btn-reset" type="button">Reset</button>
				    		</span>
						</div>
				</div>
				<div class="form-group">
					<input class="form-control form-control-md" type="hidden" name="inletter[user]" readonly placeholder="sender" value="<%= currentUser.fullname %>">
				</div>
					<input class="container-fluid btn btn-success btn-lg customSubmitMargin" type="submit">
			</form>
		</div>
	</div>
</div>
		
<% include ../partials/footer %>
<% include ../functions/innewfuncs %>
<% include ../functions/upload %>